<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ataraxia.mapper.VideoMapper">

    <resultMap id="BaseResultMap" type="com.ataraxia.domain.VideoDO">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="userId" column="user_id" jdbcType="BIGINT"/>
        <result property="url" column="url" jdbcType="VARCHAR"/>
        <result property="thumbnail" column="thumbnail" jdbcType="VARCHAR"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="type" column="type" jdbcType="VARCHAR"/>
        <result property="duration" column="duration" jdbcType="VARCHAR"/>
        <result property="area" column="area" jdbcType="VARCHAR"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <insert id="batchSaveVideoTags" parameterType="java.util.List">
        insert into
        t_video_tag (video_id, tag_id, create_time) VALUES
        <foreach collection="tags" item="videoTag" separator=",">
            (#{videoTag.videoId}, #{videoTag.tagId}, #{videoTag.createTime})
        </foreach>
    </insert>

    <insert id="saveVideoCollection">
        insert into t_video_collection (video_id, user_id, group_id, create_time)
        VALUES (#{videoCollection.videoId},
                #{videoCollection.userId},
                #{videoCollection.groupId},
                #{videoCollection.createTime})
    </insert>

    <delete id="deleteVideoCollection">
        delete
        from t_video_collection
        where video_id = #{videoId}
          and user_id = #{userId}
    </delete>

    <select id="getVideoCollections" parameterType="java.lang.Long" resultType="java.lang.Long">
        select count(1)
        from t_video_collection
        where video_id = #{videoId}
    </select>

    <select id="getVideoCollectionByVideoIdAndUserId" resultType="com.ataraxia.domain.VideoCollectionDO">
        select *
        from t_video_collection
        where video_id = #{videoId}
          and user_id = #{userId}
    </select>

</mapper>
